body {
  background-color: #CFC5BD;
  padding: 0;
  margin:0;
  font-family: futura;
}

.global-nav {
  list-style-type: none;
  float: right;
  text-transform: uppercase;
}

.global-nav a {
  text-decoration: none;
  color: #000;
}

.global-nav ul {
  margin: 0;
}

.global-nav li {
  display: inline-block;
  margin: 0.2em 1em;
  padding: 0;
}

.global-logo {
  width: 250px;
  position: absolute;
}

.global-header {
  background-color: #fff;
  padding: 1em;
  min-height: 28px;
}

.global-footer {
  clear: both;
}
