body {
  background-color: #F8F8F3;
  padding: 0;
  margin:0;
  font-family: "Chaparral Pro", helvetica;
  font-size: 20px;
  line-height: 1.35em;
  color: #333;
}

img {
  max-width: 100%;
}

h1,
h2 {
  margin-top: 0;
}

.global-header {
  background-color: #BBDAE5;
  padding: 1em 2em;
  min-height: 28px;
}

.global-header .avatar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0.38em;
  right: 1em;
  border-radius: 2px;
}

.global-header .face {
  background-size: 30px;
  left: 10px;
}

.global-header .beard {
  background-size: 30px;
  top: 16px;
}

.global-nav {
  list-style-type: none;
  float: left;
  text-transform: uppercase;
}

.global-nav a {
  text-decoration: none;
  color: #000;
}

.global-nav ul {
  margin: 0;
  padding: 0;
}

.global-nav li {
  display: inline-block;
  margin: 0.2em 1em 0.2em 0;
  padding: 0;
}

.nav-account {
  float: right;
  margin-right: 10px;
}

.global-logo {
  width: 225px;
  position: absolute;
  top: 0.7em;
  left: 50%;
  margin-left: -112.5px;
}



.global-footer {
  clear: both;
  padding: 1em 2em;
}

section {
  padding: 2em;
  float: left;
}

.avatar {
    width: 100px;
    height: 100px;
    display: block;
    background-color: white;
    position: relative;
    border-radius: 4px;
}

.face {
  background-image: url(/images/avatar/face-1.png);
  background-repeat: no-repeat;
  background-size: 70px;
  height: 80px;
  width: 80px;
  position: absolute;
  left: 15px;
  top: 10px;
}

.beard {
  background-image: url(/images/avatar/beard-1.png);
  background-repeat: no-repeat;
  background-size: 70px;
  height: 80px;
  width: 80px;
  position: absolute;
  left: 0;
  top: 40px;
}

.product {
  width: 100%;
}

.product-image {
  width: 250px;
  float: left;
  margin-right: 2%;
  position: absolute;
  left: 2em;
  display: block;
  margin: 0;
  padding: 0;
}

.product-image img {
  border: 3px solid #eee;
}

.product-description {
  width: 46%;
  float: left;
  margin-left: 270px;
}

.product-popularity {
  float: right;
  margin-left: 2%;
  width: 20%;
}

.product-discussion {
  clear: both;
  display: block;
  position: relative;
  background-color: #BBDAE5;
}

.review {
  position: relative;
}

.review .meta {
  margin-left: 120px;
  min-height: 100px;
}

.review .meta .rating {
  float: right;
}

.review .avatar {
  position: absolute;
}

.review .review-description {
  clear: both;
  background-color: #F8F8F3;
  padding: 0.1em 1em;
  border-radius: 5px;
  position: relative;
}

.review .review-description:after {
  bottom: 100%;
	left: 2.5em;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #F8F8F3;
	border-width: 20px;
	margin-left: -20px;
}

.button {
  background-color: #E7B5AB;
  padding: 10px 15px 7px;
  display: inline-block;
  color: #333;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
}

.rating {
  background-image: url("/images/sprite-rating.png");
  width: 197px;
  text-indent: -9999px;
  background-position: 0 -294px;
  background-repeat: no-repeat;
}











.rating-1 {
  background-position: 0 -234px;
}

.rating-1-5 {
  background-position: 0 -204px;
}

.rating-2 {
  background-position: 0 -174px;
}

.rating-2-5 {
  background-position: 0 -144px;
}

.rating-3 {
  background-position: 0 -114px;
}

.rating-3-5 {
  background-position: 0 -84px;
}

.rating-4 {
  background-position: 0 -54px;
}

.rating-4-5 {
  background-position: 0 24px;
}

.rating-5 {
  background-position: 0 4px;
}
