@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.eot');
    src: url('fonts/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Italic';
    src: url('fonts/FiraSans-RegularItalic.eot');
    src: url('fonts/FiraSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/FiraSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Bold';
    src: url('fonts/FiraSans-Bold.eot');
    src: url('fonts/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/FiraSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permian';
    src: url('fonts/PermianSlabSerifTypeface-webfont.eot');
    src: url('fonts/PermianSlabSerifTypeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PermianSlabSerifTypeface-webfont.woff') format('woff'),
         url('fonts/PermianSlabSerifTypeface-webfont.ttf') format('truetype'),
         url('fonts/PermianSlabSerifTypeface-webfont.svg#permianslabseriftypefaceRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permian Bold';
    src: url('fonts/PermianSlabSerifTypeface-Bold-webfont.eot');
    src: url('fonts/PermianSlabSerifTypeface-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PermianSlabSerifTypeface-Bold-webfont.woff') format('woff'),
         url('fonts/PermianSlabSerifTypeface-Bold-webfont.ttf') format('truetype'),
         url('fonts/PermianSlabSerifTypeface-Bold-webfont.svg#permianslabseriftypefaceRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Permian Italic';
    src: url('fonts/PermianSlabSerifTypeface-Italic-webfont.eot');
    src: url('fonts/PermianSlabSerifTypeface-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/PermianSlabSerifTypeface-Italic-webfont.woff') format('woff'),
         url('fonts/PermianSlabSerifTypeface-Italic-webfont.ttf') format('truetype'),
         url('fonts/PermianSlabSerifTypeface-Italic-webfont.svg#permianslabseriftypefaceRg') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
  background-color: #F8F8F3;
  padding: 0;
  margin:0;
  font-family: "Fira Sans", baskerville;
  font-size: 17px;
  line-height: 1.35em;
  color: #333;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Permian", "Chaparral Pro", helvetica;
}

p {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  max-width: 90em;
  position: relative;
  padding: 0 2em;
}

section {
  width: 100%;
  padding: 2em 0;
  float: left;
}

.global-header {
  background-color: rgba(82, 111, 117, 0.73);
  padding: 0;
  min-height: 28px;
  /*border-bottom: 2px solid rgba(0, 0, 0, 0.14);*/
  font-family: "Fira Sans";
  float: left;
  width: 100%;
  margin-bottom: 3em;
}

.global-header .avatar {
  width: 40px;
  height: 40px;
  top: 1.3em;
  right: 0;
  border-radius: 2px;
  margin-top: 0;
}

.global-header .avatar img {
  width: 25px;
  margin: 6px 8px;
}

.global-nav {
  list-style-type: none;
  float: left;
  text-transform: uppercase;
  font-size: 1em;
}

.global-nav li {
    margin: 0;
}

.global-nav a {
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 4em 0.5em 0.75em;
  margin: 0;
  background-image: url("/images/sprite-nav.png");
  background-size: 42%;
  background-repeat: no-repeat;
  background-position: 1.5em 0.5em;
  min-width: 6em;
  text-align: center;
}

.nav-sections li:hover a,
.nav-sections .state-active a {
    background-color: #F8F8F3;
    color: #333;
}

.global-nav ul {
  margin: 0;
  padding: 0;
}

.global-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.nav-sections li:nth-child(1) a {
  background-image: url("/images/shaving-brush-invert.png");
  background-size: 2em;
  background-position: center 1em;
}

.nav-sections li:nth-child(1):hover a,
.nav-sections .state-active:nth-child(1) a {
  background-image: url("/images/shaving-brush.png");
}

.nav-sections li:nth-child(3) a {
  background-image: url("/images/razor-invert.png");
  background-size: 2.4em;
  background-position: center 1em;
}

.nav-sections li:nth-child(3):hover a,
.nav-sections .state-active:nth-child(3) a {
  background-image: url("/images/razor.png");
}

.nav-sections li:nth-child(2) a {
  background-image: url("/images/scissors-invert.png");
  background-size: 2.7em;
  background-position: center 1em;
}

.nav-sections li:nth-child(2):hover a,
.nav-sections .state-active:nth-child(2) a {
  background-image: url("/images/scissors.png");
}

.nav-account {
  float: right;
  margin-top: 0.5em;
}

.nav-account li {
  float: left;
}

.nav-account li a {
    padding: 2.5em 0.8em 1.25em;
    font-size: 0.8em;
    background-image: none;
}

.global-logo {
  width: 223px;
  position: absolute;
  top: 2.6em;
  left: 50%;
  margin-left: -112.5px;
  padding: 0 0.5em 0.5em 0.5em;
}



.global-footer {
  clear: both;
  padding: 1em 0 0;
  text-align: center;
}

.avatar {
    width: 75px;
    height: 75px;
    display: block;
    background-color: white;
    position: relative;
    border-radius: 4px;
}

.avatar img {
    width: 61px;
    margin: 7px;
  -webkit-transform: rotate(360deg);
}

section.product {
  width: 100%;
  float: left;
}

.product-image {
  width: 250px;
  float: left;
  margin-right: 2%;
  position: absolute;
  left: 1.5em;
  display: block;
  margin: 0;
  padding: 0;
}

.product-image img {
  border: 2px solid rgba(0, 0, 0, 0.14);
}

.product-description {
  width: 54%;
  float: left;
  margin-left: 280px;
}

.product-description h2 {
  margin-bottom: 0.4em;
  font-size: 1.4em;
  border-top: 1px solid #ddd;
  padding-top: 0.8em;
}

.product-description .product-score {
  color: #777;
  font-size: 0.9em;
  font-family: "Permian Italic";
}

.product-description .rating {
  margin-right: 0.5em;
}

.product-popularity {
  float: right;
  margin-left: 2%;
  width: 20%;
}

.product-popularity h2 {
  margin-top: 0;
  font-size: 1.2em;
}

.product-discussion {
  clear: both;
  display: block;
  position: relative;
  background-color: rgba(117, 82, 82, 0.73);
  color: #fff;
}

.review {
  position: relative;
  margin: 2em 0;
  clear: both;
  overflow: hidden;
}

.review .meta {
  margin-left: 120px;
}

.review .meta .rating {
  float: right;
}

.review .name {
    margin: 0.5em 0.5em 0 0;
    float: left;
}

.review .avatar {
  position: absolute;
  margin-top: 0.7em;
}

.review .review-description {
  clear: both;
  background-color: #F8F8F3;
  padding: 1.1em 1em 0.1em;
  border-radius: 5px;
  position: relative;
  margin-left: 100px;
  float: left;
  color: #5C5C5C;
}

.review .review-description:after {
  top: 0.8em;
  left: -24px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #F8F8F3;
  border-width: 12px;
  margin-right: 0;
}

.button {
  background-color: rgba(117, 82, 82, 0.73);
  padding: 10px 15px 7px;
  display: inline-block;
  color: #F8F8F3;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85em;
}

.button:hover,
.button:focus,
.button:active {
    background-color: rgba(117, 82, 82, 0.53);
}

.button-prominent {
    background-color: rgba(82, 111, 117, 0.73);
}

.button-prominent:hover,
.button-prominent:focus,
.button-prominent:active {
    background-color: rgba(82, 111, 117, 0.53);
}

.rating {
  background-image: url("/images/sprite-rating.png");
  width: 197px;
  text-indent: -9999px;
  background-position: 0 -294px;
  background-repeat: no-repeat;
  display: inline-block;
  font-size: 1.5em;
  height: 24px;
}

.rating-1 {
  background-position: 0 -234px;
}

.rating-1-5 {
  background-position: 0 -204px;
}

.rating-2 {
  background-position: 0 -174px;
}

.rating-2-5 {
  background-position: 0 -144px;
}

.rating-3 {
  background-position: 0 -114px;
}

.rating-3-5 {
  background-position: 0 -84px;
}

.rating-4 {
  background-position: 0 -54px;
}

.rating-4-5 {
  background-position: 0 -24px;
}

.rating-5 {
  background-position: 0 4px;
}

.review p {
  clear: both;
}

.review .rating {
  margin: 0 0 0.5em 0;
  float: right;
  clear: none;
  -webkit-transform: rotate(360deg);
}

.review .date {
  float: left;
  clear: none;
  color: rgba(248, 248, 243, 0.73);
  font-size: 0.85em;
  margin: 0.6em 0 0.5em 0;
}

.chart {
    list-style-type: none;
    padding: 0;
}

.chart li {
    margin: 0 0 1em 0;
    clear: both;
    position: relative;
    min-height: 55px;
}

.chart .avatar {
    float: left;
    width: 60px;
    height: 60px;
    margin-bottom: 1em;
    border: 1px solid rgba(0, 0, 0, 0.14);
    position: absolute;
}

.chart .avatar img {
    width: 50px;
    margin: 6px 5px;
}

.chart-line {
    background-color: rgba(117, 82, 82, 0.73);
    margin-top: 6px;
    height: 25px;
    display: block;
    float: left;
    border-radius: 0 3px 3px 0;
    margin-left: 62px;
}

.chart-line-label {
    font-size: 0.85em;
    font-family: "Permian Italic";
    margin: 2px 0 0 65px;
    color: #777;
    clear: both;
    float: left;
}

.list-products {
    list-style-type: none;
    padding: 0;
}

.list-products li {
    display: block;
    clear: both;
    margin-bottom: 2em;
}

.list-products .product-score {
    position: absolute;
    bottom: 9px;
    left: 2px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 2px 0 5px;
}

.list-products .product {
    display: block;
    clear: both;
    margin-bottom: 2em;
    float: left;
    width: 100%;
}

.list-products .product-description {
    width: 77%;
    float: right;
    margin-bottom: 3em;
}

.list-products .product-image {
    width: 250px;
    float: left;
    margin-right: 2%;
    display: block;
    margin: 0;
    padding: 0;
}

.segment {
    position: relative;
      width: 31.6666%;
      float: left;
      height: 410px;
      margin: 20px 0;
      background: rgba(82, 111, 117, 0.29);
    background-repeat: no-repeat;
    background-position: center 90%;
    text-align: center;
      text-indent: .1em;
      margin: 0 2.5% 2em 0;
    z-index: 1;
    overflow: hidden;
    border-radius: 2%;
    
}

.segment a {
    position: absolute;
    left: -2px;
    top: 0;
    right: -2px;
    bottom: 0;
    color: #F8F8F3;
}

.segment:nth-child(1) {
    margin-left: 0;
}

.segment:nth-child(3) {
    margin-right: 0;
}

.segment.section-grooming {
    background-image: url("/images/shaving-brush.png");
    background-size: 160px;
}

.segment.section-trims {
    background-image: url("/images/scissors.png");
    background-size: 200px;
    background-color: rgba(117, 82, 88, 0.29);
}

.segment.section-styles  {
    background-image: url("/images/razor.png");
    background-size: 190px;
    background-color: rgba(82, 117, 82, 0.29);
}

.segment svg path {
    fill: rgba(73, 74, 73, 0.8);
    width: 100%;
    
}

.segment-description {
    position: absolute;
    top: 0;
    padding: 1em;
    text-align: center;
    width: 90%;
    padding: 1em 5%;
}

.tagline {
    padding: 1em;
    text-align: center;
    font-size: 1.2em;
    opacity: 0.8;
    font-family: 'Permian Italic';
    margin: 1em 0 2em;
    clear: both;
}