<div class="global-header">

  <div class="container">

    <a class="global-logo" href="/"><img src="/images/logo.png"/ alt="Trimmr logo"></a>

    <nav class="global-nav nav-account">
        <ul>
            <li><a href="/">▾</a></li>
            <li class="avatar">
              <img src="/images/avatar/garibaldi.png"/>
            </li>
        </ul>
    </nav>

  </div>

</div>
    
<div class="segment section-grooming">
    <a href="/beard-care">
        <div class="segment-description">
          <h2>Beard Care</h2>
          <p>Discover and review grooming products.</p>
        </div>
    </a>
</div>

<div class="segment section-trims">
    <a href="#">
        <div class="segment-description">
            <h2>Trims</h2>
            <p>Compare the best local barbers.</p>
        </div>
    </a>
</div>

<div class="segment section-styles">
    <a href="#">
        <div class="segment-description">
            <h2>Styles</h2>
            <p>Follow the latest beard trends.</p>
        </div>
    </a>
</div>
