<div class="global-header">

  <div class="container">

    <a href="#"><img class="global-logo" src="/images/logo.png"/ alt="Trimmr logo"></a>

    <nav class="global-nav">
        <ul>
            <li><a href="/">About</a></li>
            <li class="state-active"><a href="/">Beard Care</a></li>
            <li><a href="/">Trims</a></li>
        </ul>
    </nav>

    <nav class="global-nav nav-account">
        <ul>
            <li><a href="/">Good day, Andrew Clarke</a></li>
            <li class="avatar">
              <img src="/images/avatar/dude-1.png"/>
            </li>
        </ul>
    </nav>

  </div>

</div>
