<div class="global-header">

    <img class="global-logo" src="/images/logo.png"/ alt="Trimmr logo">

    <nav class="global-nav">
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="/">Trims</a></li>
            <li><a href="/">Beard Care</a></li>
        </ul>
    </nav>

    <nav class="global-nav nav-account">
        <ul>
            <li><a href="/">Log Out</a></li>
            <li>
              <div class="avatar">
                <span class="face face-1">
                  <span class="beard beard-1"></span>
                </span>
              </div>
            </li>
        </ul>
    </nav>

</div>
