<div class="segment section-grooming">
    <a href="/beard-care">
        <div class="segment-description">
          <h2>Beard Care</h2>
          <p>Discover and review grooming products.</p>
        </div>
    </a>
</div>

<div class="segment section-trims">
    <a href="#">
        <div class="segment-description">
            <h2>Trims</h2>
            <p>Compare the best local barbers.</p>
        </div>
    </a>
</div>

<div class="segment section-styles">
    <a href="#">
        <div class="segment-description">
            <h2>Styles</h2>
            <p>Follow the latest beard trends.</p>
        </div>
    </a>
</div>
